@media (max-width: 992px) {
  .hero-info {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  #hero {
    max-width: 90%;
  }

  .hero-info p {
    width: 80%;
  }

  .hero-info h1 {
    width: 80%;
    font-size: 47px;
    min-width: 0px;
  }

  .cards-conteiner {
    display: flex;
    flex-direction: column;
    /* width: 80%;
    height: 80%; */
  }
}

@media (max-width: 576px) {
  nav {
    padding: 5px;
  }

  .navlogo {
    margin-inline: 25px;
    width: 60px;
  }

  #hero {
    margin-top: 0px;
  }

  .hero-info {
    gap: 25px;
  }

  .hero-info h1 {
    font-size: 40px;
    padding: 0px 30px 0px 30px;
    min-width: none;
    width: 85%;
    padding: 0%;
  }

  .hero-info p {
    width: 80%;
  }

  .hero-card {
    display: none;
  }

  ul {
    gap: 16px;
    font-size: 12px;
  }

  .cards {
    max-width: 100%;
  }

  .cards img {
    max-width: 100%;
  }

  .cards-conteiner {
    scale: 80%;
    max-height: 80%;
  }

  #about {
    max-width: 79%;
  }

  #trabajos {
    max-width: 100%;
  }

  #trabajos h2 {
    margin-top: 70px;
  }
}
